WcfService/ClientTest/Service References/GeoServiceReference/GeoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Uber.Base" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Uber.Base" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1292/GeoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Region">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="bottomright" type="tns:Location" />
      <xs:element minOccurs="0" name="topleft" type="tns:Location" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Region" nillable="true" type="tns:Region" />
  <xs:complexType name="Location">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="lat" type="xs:double" />
      <xs:element minOccurs="0" name="lng" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="TripData">
    <xs:sequence>
      <xs:element minOccurs="0" name="epoch" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="eventType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fare" type="xs:decimal" />
      <xs:element minOccurs="0" name="lat" type="xs:double" />
      <xs:element minOccurs="0" name="lng" type="xs:double" />
      <xs:element minOccurs="0" name="tripId" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TripData" nillable="true" type="tns:TripData" />
</xs:schema>