WcfService/ClientTest/Service References/GeoServiceReference/GeoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1292/GeoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Uber.Base" />
  <xs:element name="GetTripCountInTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="epoch" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripCountInTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTripCountInTimeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripCountInRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="l" type="xs:double" />
        <xs:element minOccurs="0" name="t" type="xs:double" />
        <xs:element minOccurs="0" name="r" type="xs:double" />
        <xs:element minOccurs="0" name="b" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripCountInRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTripCountInRegionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripSum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="l" type="xs:double" />
        <xs:element minOccurs="0" name="t" type="xs:double" />
        <xs:element minOccurs="0" name="r" type="xs:double" />
        <xs:element minOccurs="0" name="b" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripSumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTripSumResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTripData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Uber.Base" minOccurs="0" name="data" nillable="true" type="q1:TripData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTripDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>