WcfService/ClientTest/Service References/GeoServiceReference/GeoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GeoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1292/GeoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1292/GeoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1292/GeoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Uber.Base" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGeoService_GetTripCountInTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTripCountInTime" />
  </wsdl:message>
  <wsdl:message name="IGeoService_GetTripCountInTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTripCountInTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IGeoService_GetTripCountInRegion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTripCountInRegion" />
  </wsdl:message>
  <wsdl:message name="IGeoService_GetTripCountInRegion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTripCountInRegionResponse" />
  </wsdl:message>
  <wsdl:message name="IGeoService_GetTripSum_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTripSum" />
  </wsdl:message>
  <wsdl:message name="IGeoService_GetTripSum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTripSumResponse" />
  </wsdl:message>
  <wsdl:message name="IGeoService_UpdateTripData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTripData" />
  </wsdl:message>
  <wsdl:message name="IGeoService_UpdateTripData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTripDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IGeoService">
    <wsdl:operation name="GetTripCountInTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeoService/GetTripCountInTime" message="tns:IGeoService_GetTripCountInTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeoService/GetTripCountInTimeResponse" message="tns:IGeoService_GetTripCountInTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTripCountInRegion">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeoService/GetTripCountInRegion" message="tns:IGeoService_GetTripCountInRegion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeoService/GetTripCountInRegionResponse" message="tns:IGeoService_GetTripCountInRegion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTripSum">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeoService/GetTripSum" message="tns:IGeoService_GetTripSum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeoService/GetTripSumResponse" message="tns:IGeoService_GetTripSum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTripData">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeoService/UpdateTripData" message="tns:IGeoService_UpdateTripData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeoService/UpdateTripDataResponse" message="tns:IGeoService_UpdateTripData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGeoService" type="tns:IGeoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTripCountInTime">
      <soap:operation soapAction="http://tempuri.org/IGeoService/GetTripCountInTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTripCountInRegion">
      <soap:operation soapAction="http://tempuri.org/IGeoService/GetTripCountInRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTripSum">
      <soap:operation soapAction="http://tempuri.org/IGeoService/GetTripSum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTripData">
      <soap:operation soapAction="http://tempuri.org/IGeoService/UpdateTripData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GeoService">
    <wsdl:port name="BasicHttpBinding_IGeoService" binding="tns:BasicHttpBinding_IGeoService">
      <soap:address location="http://localhost:1292/GeoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>